body {
  margin: 0;
  font-family: sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fake-link {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
